.Blogs {
    width: 100%;
    padding: 100px 0;
    color: white;
    background-color: black;
    height: fit-content;
    font-family: 'Fraunces';
}

.Blogs p {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    font-variant: small-caps;
    margin-left: 40px;
}

.Blogs h1 {
    font-size: 60px;
    font-weight: 300;
    margin-top: -20px;
    margin-left: 40px;
}

.slider-wraper .img-list {
    display: grid;
    gap: 18px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(6, 1fr);
}

.slider-wraper .img-list::-webkit-scrollbar {
    display: none;
}

.slider-wraper .img-list .img-item {
    width: 325px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}


@media (max-width: 480px) {
    .Blogs p {
        font-size: 16px;
        margin-left: 30px;
    }
    .Blogs h1 {
        font-size: 30px;
        margin-left: 30px;
        margin-top: 10px;
    }
}