.Footer{
    width: auto;
    height: 200px;
    background-color: black;
    color: white;
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    font-size: 12px;
    border-top: 1px solid #202020;
    flex-wrap: wrap;
}

#FNavbar {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

#FNavbar a {
    text-decoration: none; /* Remove underline */
}

#FNavbar li {
    margin-right: 40px;
    color: white;
    font-weight: 200;
    cursor: pointer;
    font-family: 'Poppins';
    border-bottom: 2px solid black;
    transition: ease-in 0.4s;
}

#FNavbar li:hover {
    border-bottom: 1px solid white;
}

@media (max-width: 768px){
    #FNavbar{
        margin-left: -40px;
    }
}
@media (max-width: 677px){
    #FNavbar{
        margin-top: -100px;
    }
}
@media (max-width: 480px){
    .Footer{
        flex-direction: column;
        justify-content: space-around;
        padding-left: 50px;
    }
    #FNavbar{
        margin-top: -60px;
        margin-left: -100px;
    }
    #FNavbar{
        flex-direction: column;
    }
}
@media (max-width: 300px){
    .Footer{
        flex-direction: column;
        justify-content: space-around;
        padding-left: 50px;
    }
    #FNavbar{
        margin-top: -60px;
        margin-left: 0px;
    }
    #FNavbar{
        flex-direction: column;
    }
}