.Hero {
    width: 100%;
    height: 100vh;
    padding: 0 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.Hero-Title {
    font-size: 1.2em;
    color: white;
    width: 40%;
    margin-left: 200px; /* Default margin for larger screens */
    /* font-family: "Spectral", serif; */
}

.Hero-Title h1 {
    color: white;
    font-family: "Fraunces", serif;
    font-weight: 100;
}

.Hero-Title-head {
    font-size: 3em;
}

.Hero-Img {
    width: 40%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-sizing: border-box;
}

.Hero-Img img {
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .Hero {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .Hero-Title {
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .Hero-Img {
        width: 100%; 
        height: 400px
    }
}

@media (max-width: 768px) {
    .Hero-Title-head {
        font-size: 2em;
    }

    .Hero-Title p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .Hero {
        padding: 10px;
    }

    .Hero-Title-head {
        font-size: 1.5em;
    }

    .Hero-Title {
        font-size: 1em;
    }
}
