.Newsletter {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.News-Img {
    color: white;
    font-family: 'Fraunces';
    width: 40%;
    height: 60vh;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

.News-Img h1 {
    font-size: 64px;
    font-weight: 300;
    margin: 10px 0px;
    line-height: 50px;
}

.News-Img img {
    width: 100%;
    margin-top: 20px;
}

.News-Panel {
    color: white;
    font-family: 'Fraunces';
    width: 50%;
    height: 60vh;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.News-Panel p {
    font-size: 15px;
    font-weight: 200;
    font-family: 'Poppins';
}

.News-Panel button {
    width: 150px;
    height: 50px;
    font-family: 'Poppins';
    cursor: pointer;
}

.News-Panel button:hover {
    /* width: 120px;
    height: 42px;
    font-size: 0.85em; */
    background-color: #ffffff;
    box-shadow: 1px 1px 15px #8b8b8b inset;
}

.News-Panel div ul{
    list-style: none;
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 200;
    margin-left: -40px;
}

.News-Panel div ul li{
    float: left;
    margin-right: 40px;
    cursor: pointer;
}


@media (max-width: 1024px) {
    .News-Img h1 {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .News-Img h1 {
        font-size: 6vw;
    }
    .News-Img img {
        display: none;
    }
}

@media (max-width: 480px) {
    .Newsletter {
        flex-wrap: wrap;
        height: fit-content;
    }
    .News-Img{
        width: 100%;
        padding-right: 0px;
        margin-left: -40px;
    }
    .News-Img h1{
        font-size: 30px;
        line-height: 30px;
    }
    .News-Panel{
        width: 100%;
        padding-left: 0px;
        margin-top: -230px;
        margin-bottom: 150px;
        margin-left: -40px;
    }
    .News-Panel button{
        margin: 30px 0px;
    }
    .News-Panel div{
        width: 100%;
    }
    .News-Panel div ul li{
        font-size: 11px;
        margin-right: 10px;
    }
}