.Discover {
    width: 100%;
    height: fit-content;
    padding: 50px;
    background-color: black;
    color: white;
    font-family: 'Fraunces';
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}



.Discover-head p {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    font-variant: small-caps;
}

.Discover-head h1 {
    font-size: 60px;
    font-weight: 300;
    margin-top: -20px;
}

.CardsContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.Card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

.Card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.Card h4 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 0.9rem;
    color: white;
    text-align: left;
    font-variant: small-caps;
}

.Card p {
    margin-top: -10px;
    font-size: 0.7em;
    color: #ccc;
    text-align: left;
}

.Card button {
    margin-top: 20px;
    width: 110px;
    height: 40px;
    padding: 10px 20px;
    font-size: 0.8em;
    font-family: "Franceus";
    color: #000;
    background-color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.Card button:hover {
    /* width: 120px;
    height: 42px;
    font-size: 0.85em; */
    background-color: #ffffff;
    box-shadow: 1px 1px 15px #8b8b8b inset;
}
@media (max-width: 768px) {
    .Discover {
        padding: 20px;
    }

    .Discover-head h1 {
        font-size: 40px;
    }

    .Discover-head p {
        font-size: 16px;
    }
    .Card {
        width: 200px;
    }
}


@media (max-width: 480px) {

    .Discover-head h1 {
        font-size: 30px;
        margin-top: 10px;
    }

    .Card {
        width: 100%;
        height: 400px;
        margin-bottom: 100px;
    }

    .CardsContainer {
        justify-content: flex-start;
    }

    .Card h4 {
        margin-top: -166px;
    }

    .Card img {
        height: 100%;
    }
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}